language: node_js

cache:
  directories:
  - node_modules

script: "npm test"

node_js:
  - "0.10"
  - "0.12"
  - "1.8"
  - "2.5"
  - "3.3"
  - "4.8"
  - "5.12"
  - "6.10"
  - "7.9"

after_script: "npm install coveralls@2.10.0 && cat ./coverage/lcov.info | coveralls"
